In [17]:
#importing libraries
import pandas as pd

In [18]:
#Loading dataset
df=pd.read_excel("Spam Email Detection.xlsx")

In [19]:
#checking dataset
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5163,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [20]:
#checking null values
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [21]:
# dropping unwanted columns
df = df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis=1)

In [22]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [23]:
# checking data types
df.dtypes

v1    object
v2    object
dtype: object

In [24]:
#changing column names
df=df[['v1','v2']]
df.columns=['label','text']

In [25]:
#checking duplicates
df.duplicated().sum()

np.int64(409)

In [26]:
#removing duplicates
df=df.drop_duplicates()

In [27]:
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [28]:
df.dtypes

label    object
text     object
dtype: object

In [29]:
#checking outliers
outliers=df[(df['text'].str.len() > 1000) | (df['text'].str.len() < 5)]
print(outliers)

     label  text
260    ham   Yup
286    ham  Ok..
1924   ham    Ok
2181   ham   Ok.
2601   ham  Okie
3374   ham    :)
5173   ham  U 2.
5268   ham   \ER

In [30]:
# Dropping ouliers
df = df[~((df['text'].str.len() > 1000) | (df['text'].str.len() < 5))]

In [15]:
# Categorical variable handling
# one hot encoding
df = pd.get_dummies(df, columns=['label'], drop_first=True)

In [16]:
df.head()

                                                text  label_spam
0  Go until jurong point, crazy.. Available only ...       False
1                      Ok lar... Joking wif u oni...       False
2  Free entry in 2 a wkly comp to win FA Cup fina...        True
3  U dun say so early hor... U c already then say...       False
4  Nah I don't think he goes to usf, he lives aro...       False

In [31]:
#label encoding
df['label'] = df['label'].replace({'ham':0,'spam':1})

C:\Users\VIDYA\AppData\Local\Temp\ipykernel_20540\3686171845.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['label'] = df['label'].replace({'ham':0,'spam':1})

In [ ]:
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
#ordinal encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['label'] = le.fit_transform(df['label'])

In [ ]:
df.head()

   label                                               text
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [ ]:
#frequency encoding
freq_encoding = df['label'].value_counts().to_dict()
df['label_freq'] = df['label'].map(freq_encoding)

In [ ]:
df.head()

  label                                               text  label_freq
0   ham  Go until jurong point, crazy.. Available only ...        4508
1   ham                      Ok lar... Joking wif u oni...        4508
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...         647
3   ham  U dun say so early hor... U c already then say...        4508
4   ham  Nah I don't think he goes to usf, he lives aro...        4508

In [ ]:
#target encoding
target_encoding = df.groupby('label')['label'].count()
df['label_target'] = df['label'].map(target_encoding)

In [ ]:
df.head()

  label                                               text  label_target
0   ham  Go until jurong point, crazy.. Available only ...          4508
1   ham                      Ok lar... Joking wif u oni...          4508
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...           647
3   ham  U dun say so early hor... U c already then say...          4508
4   ham  Nah I don't think he goes to usf, he lives aro...          4508

In [ ]:
# for email spam data set label encoding is best i thought so i am preffering that
df.head()

   label                                               text
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [ ]:
#feature scaling
#min max scaling
df["text_length"]= df['text'].str.len()
from sklearn.preprocessing import MinMaxScaler
minmax_scaler = MinMaxScaler()
df['text_length_scaled'] = minmax_scaler.fit_transform(df[['text_length']])

In [ ]:
df.head()

,label,text,text_length,text_length_standardized,text_length_scaled
0,0,"Go until jurong point, crazy.. Available only ...",111.0,0.551632,0.117127
1,0,Ok lar... Joking wif u oni...,29.0,-0.859426,0.026519
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,155.0,1.308785,0.165746
3,0,U dun say so early hor... U c already then say...,49.0,-0.515266,0.048619
4,0,"Nah I don't think he goes to usf, he lives aro...",61.0,-0.308770,0.061878

In [266]:
#max absolute scaling
df["text_length"]= df['text'].str.len()
from sklearn.preprocessing import MaxAbsScaler
max_abs_scaler = MaxAbsScaler()
df['text_max_abs_scaled'] = max_abs_scaler.fit_transform(df[['text_length']])

In [267]:
df.head()

,text,label_spam,text_length,text_max_abs_scaled
0,"Go until jurong point, crazy.. Available only ...",False,111.0,0.121978
1,Ok lar... Joking wif u oni...,False,29.0,0.031868
2,Free entry in 2 a wkly comp to win FA Cup fina...,True,155.0,0.170330
3,U dun say so early hor... U c already then say...,False,49.0,0.053846
4,"Nah I don't think he goes to usf, he lives aro...",False,61.0,0.067033

In [307]:
#vectore normalization
df["text_length"]= df['text'].str.len()
df['text_length']=df['text_length'].fillna(0)
from sklearn.preprocessing import Normalizer
normalizer = Normalizer()
df['text_normalized'] = normalizer.fit_transform(df[['text_length']])

In [308]:
df.head()

,text,label_spam,text_length,text_normalized
0,"Go until jurong point, crazy.. Available only ...",False,111.0,1.0
1,Ok lar... Joking wif u oni...,False,29.0,1.0
2,Free entry in 2 a wkly comp to win FA Cup fina...,True,155.0,1.0
3,U dun say so early hor... U c already then say...,False,49.0,1.0
4,"Nah I don't think he goes to usf, he lives aro...",False,61.0,1.0

In [330]:
#z score (standardization)
df["text_length"]= df['text'].str.len()
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()
df['text_length_standardized'] = standard_scaler.fit_transform(df[['text_length']])

In [332]:
df.head()

,text,label_spam,text_length,text_length_standardized
0,"Go until jurong point, crazy.. Available only ...",False,111.0,0.551632
1,Ok lar... Joking wif u oni...,False,29.0,-0.859426
2,Free entry in 2 a wkly comp to win FA Cup fina...,True,155.0,1.308785
3,U dun say so early hor... U c already then say...,False,49.0,-0.515266
4,"Nah I don't think he goes to usf, he lives aro...",False,61.0,-0.308770

In [333]:
# split data for training and testing
from sklearn.model_selection import train_test_split
X = df['text_length']
y = df['label_spam']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [335]:
# transfoorm skewed features
df['text_length'].skew()

np.float64(2.6320401755951797)

In [ ]:
# skew is greater than 1 so we can apply log transformation
import numpy as np
df['text_length_log'] = np.log1p(df['text_length'])

In [337]:
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()
df['text_length_log_standardized'] = standard_scaler.fit_transform(df[['text_length_log']])

In [338]:
df.head()

,text,label_spam,text_length,text_length_standardized,text_length_log,text_length_log_standardized
0,"Go until jurong point, crazy.. Available only ...",False,111.0,0.551632,4.718499,0.829316
1,Ok lar... Joking wif u oni...,False,29.0,-0.859426,3.401197,-1.101267
2,Free entry in 2 a wkly comp to win FA Cup fina...,True,155.0,1.308785,5.049856,1.314940
3,U dun say so early hor... U c already then say...,False,49.0,-0.515266,3.912023,-0.352622
4,"Nah I don't think he goes to usf, he lives aro...",False,61.0,-0.308770,4.127134,-0.037363